
<%= form_for @technique do |tech_form| %>

  <div class="field">
    <%= tech_form.label :position %>
    <br />
    <%= tech_form.select :position, @positions, :class => "position", :prompt => "- select -" %>
  </div>

  <br />

  <div class="field">
    <%= tech_form.label :skill %>
    <br />
    <%= tech_form.select :skill, (@skills ? @skills : []) %>
  </div>

  <%= tech_form.submit "Share to Academy" %>
<% end %>
