
<%= link_to "x", technique, :class => "remove_relative", :method => :delete, :confirm => "Are you sure?", :title => "Delete Technique" %>
<table>
  <tr>
    <td><%= render technique.videos %></td>
    <td>
        <ul>
            <li><strong> <%= technique.name %> </strong><%= link_to "(edit)", edit_technique_path(technique) %> </li>
            <li> <%= technique.description %> </li>
            <li><%= link_to "Favorite", favorite_relationships_path(:technique_id => technique), :method => :post %></li>
            <li><%= link_to "Share", share_technique_path(:id => technique.id), :remote => true %> </li>
        </ul>
    </td>
  <tr/>
</table>
