<span class="edit_technique">

<h1>Edit Technique</h1>

<%= form_for @technique do |tech_form| %>

  <div class="field">
    <%= tech_form.label :name %>
    <br />
    <%= tech_form.text_field :name %>
  </div>

  <br />

  <div class="field">
    <%= tech_form.label :position %>
    <br />
    <%= tech_form.select :position, @positions, :class => "position", :prompt => "- select -" %>
  </div>

  <br />

  <div class="field">
    <%= tech_form.label :skill %>
    <br />
    <%= tech_form.select :skill, (@skills ? @skills : []) %>
  </div>

  <br />

  <div class="field">
    <%= tech_form.label :description %>
    <br />
    <%= tech_form.text_area :description %>
  </div>

  <br />

  <div class="field">
    <%= tech_form.fields_for :videos do |vid_form| %>
      
      <%= vid_form.label :url %>
      <br />
      <%= vid_form.text_field :url %>
    <% end %>
  </div>

  <br />
  <%= tech_form.submit "Update Technique" %>
<% end %>

</span>
