
  <div class="parents">
    <h3>Parents:</h3>
    <div class = "h_scroll parent_techniques">
      <%= render :partial => 'parents', :object => @technique, :as => :technique %>
    </div>
  </div>

  <div class = "technique round">
    <h2><%= @technique.name %></h2>
      <%= link_to "Add Parent", new_technique_relationship_path(:child_id => @technique.id), :remote => true %>
      <table>
        <%= render @technique %>
      </table>
      <%= link_to "Add Child", new_technique_relationship_path(:parent_id => @technique.id), :remote => true %>
  </div>
  
  <div class="children">
    <h3>Children:</h3>
    <div class = "h_scroll child_techniques">
      <% @technique.children.each do |child| %>
          <%= render :partial => 'technique_thumb', :object => child, :as => :technique %>
      <% end %>
    </div>
  </div>
