<div class = "parents">
    <h3>
      <%= link_to "Chain", new_technique_relationship_path(:child_id => @technique.id), :remote => true %>
       Backwards
      :</h3>


  <div class="parent_techniques">
    <div class = "h_scroll">
      <%= render :partial => 'parents', :object => @technique, :as => :child %>
    </div>
  </div>
</div>

  <div class = "technique shadow">
    <%= render @technique %>
  </div>
  
  <div class="children">
    <h3>
      <%= link_to "Chain", new_technique_relationship_path(:parent_id => @technique.id), :remote => true %>
       Forwards
      :</h3>

    <div class = "child_techniques">
      <div class = "h_scroll">
        <%= render :partial => 'children', :object => @technique, :as => :parent %>
      </div>
    </div>
  </div>
