
  <div class="parents">
    <div class = "h_scroll">
      <h3>Parents:</h3>
      <% @technique.parents.each do |parent| %>
            <%= render :partial => 'technique_thumb', :object => parent, :as => :technique %>
      <% end %>
    </div>
  </div>

  <div class = "technique round">
    <h2><%= @technique.name %></h2>
      <%= link_to "Add Parent", new_technique_relationship_path(:child_id => @technique.id), :remote => true %>
      <table>
        <%= render @technique %>
      </table>
      <%= link_to "Add Child", new_technique_relationship_path(:parent_id => @technique.id), :remote => true %>
  </div>
  
  <div class="children">
    <div class = "h_scroll">
      <h3>Children:</h3>
      <% @technique.children.each do |child| %>
          <%= render :partial => 'technique_thumb', :object => child, :as => :technique %>
      <% end %>
    </div>
  </div>
