<header>
<%= link_to logo, root_path %>
<nav>
  <ul>
    <li><%= link_to root_path do %>
      H<span>o</span>me
    <%end%>
    </li>

    <% if signed_in? %>

      <li><%= link_to techniques_path do %>
        T<span>e</span>chnique
      <%end%>
      </li>

      <li><%= link_to current_user do%>
        P<span>r</span>ofile
      <%end%>
      </li>

      <li><%= link_to edit_user_path(current_user) do %>
        S<span>e</span>ttings
      <%end%>
      </li>
    <%end%>

    <li><%= link_to help_path do %>
      H<span>e</span>lp
    <%end%>
    </li>

    <% if signed_in? %>
      <li>
        <%= link_to signout_path, :method => :delete do %>
          S<span>i</span>gn out
        <%end%>
      </li>
    <% else %>
      <li>
        <%= link_to signin_path do %>
          S<span>i</span>gn in
        <%end%>
      </li>
    <% end %>
  </ul>
</nav>
</header>
